/* 设置 body 和 html 的样式，使其内容居中显示 */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 设置触发弹出窗口的按钮样式 */
#openModal {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* 设置触发弹出窗口的按钮鼠标悬停样式 */
#openModal:hover {
    background-color: #007B9A;
}

/* 设置模态弹出窗口的样式，初始状态下不显示 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* 当添加 showModal 类时，显示模态弹出窗口 */
.modal.showModal {
    display: block;
}

/* 设置弹出窗口内部的内容区域样式 */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 100px));
    padding: 50px;
    width: 90%;
    max-width: 1200px;
    border-radius: 10px;
    background-color: #fefefe;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation: appear 1s;
    overflow-y: auto;
}

/* 定义弹出窗口出现时的动画效果 */
@keyframes appear {
    from {opacity: 0; transform: translate(-50%, calc(-50% - 100px)) scale(0.9);}
    to {opacity: 1; transform: translate(-50%, calc(-50% - 100px)) scale(1);}
}

/* 设置弹出窗口的关闭按钮样式 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* 设置关闭按钮的鼠标悬停样式 */
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 设置弹出窗口中的图片按钮样式 */
.imageButton {
    width: 90px;
    height: 90px;
    margin: 5px;
    border-radius: 15px;
    display: inline-block;
    float: left;
    visibility: hidden;
}

/* 设置宽度为180px的图片按钮样式 */
.imageButton.wide {
    width: 180px;
}

/* 定义图片按钮出现时的弹跳动画效果 */
@keyframes bounce {
    0% {transform: scale(0) translateY(4px); visibility: visible;}
    60% {transform: scale(1.1) translateY(-2px);}
    80% {transform: scale(0.95) translateY(0);}
    100% {transform: scale(1) translateY(0); visibility: visible;}
}

/* 在窗口宽度小于600px的情况下，改变弹出窗口内部内容区域的样式 */
@media screen and (max-width: 600px) {
  .modal-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 50px));
    padding: 20px;
    width: 90%;
    border-radius: 10px;
    background-color: #fefefe;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation: appear 1s;
    overflow-y: auto;
  }
}
